@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@keyframes background_pop_color {
  0%{
    color: #fff;
  }
  20% {
    color: #00F0F6;
  }
  40% {
    color: #DA015C;
  }
  60%{
    color: #F61D64;
  }
  80% {
    color: #F6F400;
  }
  100% {
    color: #7EF600;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
//position: relative;
//width: 1440px;
//height: 720px;

background: #2D2241;
}

.editor {
  max-width: 544px;
  width: 100%;


&__heading {
font-style: normal;
font-weight: 200;
font-size: 44px;
line-height: 48px;
color: #fff;
font-family: 'Pacifico', cursive;
margin: 0;
margin-bottom: 48px;

&:hover{
  animation: background_pop_color 5s ease-out infinite;
}

}
}
.form {

&__actions {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

&__label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  transition: transform 1s ease-in-out;
&:hover {
  transform: scale(2);
}
}

&__textarea{
width: 100%;
border-radius: 8px; // border radius zalecana wilokrotnosc 4px 
background: #fff;
min-height: 30vh;

}

&__button {
  border : 1px solid #121232;
  border-radius: 4px;
  padding: 16px;
  min-width: 200px;
  font-weight: 600;
  letter-spacing: 0.5px;

  &--save {
    background: #043619;
    transition: background .3s linear,  transform 2s ease-in-out;
    &:hover{
      background: #27AE60;
      transform: rotate(-360deg);
    }
  }

  &--load{
    background: #003173;
    transition: background .3s linear, transform 2s ease-in-out;
    &:hover {
      background: #2F80ED;
      transform: rotate(360deg);
    }
  }
}

}





